header
        {
            /* background-color: black ;
            background-size: auto 6px; */
            display: flex;
            width: auto;
            vertical-align: middle;
            
        }



        .main_menu
        {
            background-color: black ;
            box-shadow: 0 0 1em black;
            margin-bottom: 2%;

        }

        .main_menu_sub {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            align-items: center;
            }
            
            .logo
            {
                grid-area: 1 / 4 / 2 / 6;
                text-align: center;
                width: 60%;
                height: auto;
            }

                .logo img
                {
                    width: 60%;
                    height: auto;
                    border-radius: 60%;
                }
            h1  
            {
                color: white;
                font-family: wigwag-deluxe, sans-serif;
                font-style: normal;
                font-size: 23%;
            }

            .main_menu_1 
            { 
                grid-area: 1 / 1 / 2 / 4;
                display: inline-flex;
                grid-column-gap: 6%; 
            }
            
            .main_menu_2 
            { 
                grid-area: 1 / 6 / 2 / 9;
                display: inline-flex;
                grid-column-gap: 6%; 
                padding-left: 35%;
            } 

        li
        {
            color: white;
            list-style-type: none;
        }

            li a
            {
                color: white;
                font-family: prohibition, sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 120%;
            }


            li a:hover
            {
                text-decoration: none;
                color: redclea;
            }


.main_container
{
    display: grid;
    grid-template-areas:"head head head head"
                        "nav  main main main"
                        "nav  main main main";
    grid-template-columns: 385px 1fr 0%;
}


header
{
    grid-area: header;
}

.sidebar
{
    grid-area: nav;
    border: 1px solid black;
    margin: 2%;
}
    .sidebar h3
    {
        font-family: wigwag-deluxe, sans-serif;
        font-style: normal;
        font-size: 140%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .sidebar h4
    {
        font-family: prohibition, sans-serif;
        font-style: normal;
        font-size: 120%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    .sidebar .search
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .sidebar input
    {
        width: 100%;
    }
    .sidebar select
    {
        margin-top: 10px;
        width: 55%;

    }

    .search_sidebar_button
    {
    border-radius: 45%;
    font-family: prohibition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    color: white;
    text-align: center;
    margin-top: 10px;
    }
    

    .search_byfilter 
    {
        background-color: black;
        padding: 5%;
    }

        .search_byfilter h4
        {
            color: white;
        }
    .sidebar .tonight
    {
        text-align: center;
        margin-top: 10px;
        background-color: red;
        padding: 5%;
    }

        .sidebar a
        {
            color: black;
            font-family: prohibition, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 120%;
            margin-top: 10px;
        }

.container.choices
{
    grid-area: main;
}

.main
{
    grid-area: main;
}

#a_laffiche
{
    font-family: prohibition;
    color: black;
    text-align: center;
    font-size: 190%;

}

    .container.choices hr
    {
        border-top: 2px solid black;
    }

/* //carouselx4// */

.img-fluid
{
    height: 67%;
    width: auto;
    padding: 2%;
}

.carousel-control-next :hover
{
    background-color: gray;
}



/* 
=====SEARCH NAV===== */

.search button
{
    background-color: red;
    border-radius: 45%;
    font-family: prohibition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    color: white;
}




/* ==========================Footer========================== */

footer 
    {
    background-color: black;
    }
    
    .footer_area 
    {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.1fr;
        grid-template-areas: 
        "menu1 menu1 menu1 . . logo logo" 
        "search search . adress . logo logo";
      }

    .footer_menu ul
    { 
        grid-area: menu1 menu1 menu1 ;
        grid-area: 1 / 6 / 2 / 9;
        display: inline-flex;
        grid-column-gap: 6%;
        padding-left: 35%;
        white-space:nowrap;
        padding: 5%;
    }

    #adress 
    {
        grid-area: adress;
         color: white;
         text-align: center;
         padding: 5%; 
         font-size: 80%;
         align-self: center;
    }

    #copyright
    {
        color: red;
    }

    .search_area
    { 
        grid-area: search;
        padding: 5%;
        align-self: center;
    }

        .search_area button
        {
            background-color: red;
            border-radius: 45%;
            font-family: prohibition, sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 120%;
            color: white;
        }

    .logo_footer 
    { 
        grid-area: logo;
        text-align: end;
        padding: 5%;
        align-self: center;
    }

        .logo_footer img
        {
            border-radius: 50%;
            width: 23%;
        }

        .logo_footer p
        {
            font-size: 110%;
            color: white;
            font-family: wigwag-deluxe, sans-serif;
            font-style: normal;
        }
    
/* ========================================================== */


/* ======== FILMS ========  */

.films
{
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
}

    .films #synopsis 
    {
        padding-top: 4%;
    }


/* =========ABO========= */

.abo
{
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5%;
}

#abonnement_title
{
    font-family: prohibition;
    font-size: 150%;
    text-align: center;
}